<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" contant="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="/stylesheets/menu.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/signin.css" /><!-- cssはsigninと同じなので共有する -->
        <link rel="stylesheets" href="/stylesheets/signin_pc.css" media="screen and (min-width:800px)" />
    </head>
    <body>
        <div id="menuBar">
            <a id="chample" href="/">Chample</a>
            <a id="login" href="/login">ログイン</a>
        </div>

        <h1>メールアドレスの変更</h1>
        <p id="oldmailhead">現在のアドレス</p>
        <p id="oldmail"></p>
        <input id="mail" type="email" placeholder="新しいメールアドレス" />
        <p id="missinput"></p>
        <div id="sendMail">認証メールを送信</div>

        <div style="display:none;" id="r_mail"><%= mail %></div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascripts/changemail.js"></script>
    </body>
</html>