<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" contant="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/menu.css" />
        <link rel="stylesheet" href="/stylesheets/intro.css" />
        <link rel="stylesheets" href="/stylesheets/intro_pc.css" media="screen and (min-width:800px)" />
    </head>
    <body>
        <div id="menuBar">
            <a id="chample" href="/">Chample</a>
            <a id="login" href="/login">ログイン</a>
        </div>

        <div id="coverRap">
            <h1>ついに、英会話は無料の時代に。</h1>
            <h2 id="oneTeach">One Teach, One Lesson.</h2>
            <a href="/signin"><div id="signinButton">無料会員登録</div></a>
        </div>

        <h2>Champleは完全無料で<br>外国語会話ができる<br>サービスです</h2>

        <p> - Champleのしくみ - </p>
        <p>母国語の先生として<br>１回レッスンをすると、<br>外国語のレッスンを<br>１回受けることができます。</p>

        <p> - Champleの特徴 - </p>
        <p>・レッスン数が無制限<br>一日何度でも、一月何度でも。<br>・英語以外の言語も学べる<br>・２４時間いつでも学べる<br></p>

        <p> - こんな人におすすめ - </p>
        <p>・無料で外国語を学びたい<br>・世界中に友達をつくりたい<br>・日本に興味のある外国の人に、<br>日本語を教えてあげたい</p>

        <p> - こんな人にも - </p>
        <p>外国語は話せないけど、<br>外国の人としゃべってみたい。<br>先生として日本語を教えながら、<br>世界中の人とおしゃべりを<br>楽しむことができます。</p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascripts/conf.js"></script>
    <script src="/javascripts/intro.js"></script>
    </body>
</html>