<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <meta name="description" contant="" />
        <meta name="keywords" content="" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="stylesheet" href="/stylesheets/menu.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/signin.css" />
        <link rel="stylesheets" href="/stylesheets/signin_pc.css" media="screen and (min-width:800px)" />
    </head>
    <body>
        <div id="menuBar">
            <a id="chample" href="/">Chample</a>
            <a id="login" href="/login">ログイン</a>
        </div>

        <h1>無料会員登録</h1>
        <h2>メールアドレスで登録</h2>
        <input id="mail" type="email" placeholder="メールアドレス" /><br>
        <input id="pass" type="password" placeholder="パスワード" />
        <p id="missinput"></p>
        <div id="sendMail">認証メールを送信</div>

        <h2>他サービスのIDで登録</h2>
        <div id="facebook"><img src="/images/FB-f-Logo__blue_29.png" /><span>Facebookアカウントで登録</span></div>
        <div id="twitter"><img src="/images/Twitter_Logo_White_On_Blue.png" /><span>Twitterアカウントで登録</span></div>
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/javascripts/conf.js"></script>
    <script src="/javascripts/signin.js"></script>
    <script src="/javascripts/facebook.js"></script>
    </body>
</html>